body {
  font-family: sans-serif;
  display: grid;
  background: aliceblue;
}

.container {
  height: 100vh;
  place-items: center;
}

.test-card, .duration-card {
	place-items: center;
}

.duration-card .card {
  height:  200px;
  background-color: teal;
}

.test-text {
	font-size: 20px;
	text-align: justify;
}

.text-area {
	height:  200px;
}

.base-timer {
  position: relative;
  width: 150px;
  height: 150px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #fff;
    color: #111;
    font-size: 12px;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    /*white-space: nowrap;*/
    word-wrap: break-word;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 9;
    visibility: hidden;
    width: 250px;
    height: 50px;
}
[data-title] {
    position: relative;
}

.info-text {
  cursor: pointer;
  font-size: 11px;
}
.prev-score {
  /*font-size: 12px;*/
  font-weight: bold;
}